<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="forceReload($event)">
    <ion-refresher-content refreshingText="Forcing API reload...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-button
          (click)="invalidateCache()">
    Invalidate Cache
  </ion-button>

  <ion-virtual-scroll [items]="pokemon"
                      [headerFn]="myHeaderFn">
    <ion-item-divider *virtualHeader="let header">
      {{ header }}
    </ion-item-divider>
    <ion-item *virtualItem="let item"
              (click)="navigateToPokemonDetailPage(item?.url)">
      <ion-avatar slot="start">
        <!--NOTE: <ion-img> is recommended here but we are not using it due to-->
        <!--it not emmiting events such as (error)-->
        <img appImageError
             onErrorSrc="/assets/shapes.svg"
             [src]="item?.sprites?.front_default">
      </ion-avatar>
      <ion-label>
        <h2>{{item?.name}}</h2>
        <h3>{{item?.url}}</h3>
      </ion-label>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>
