.item-content {
  display: flex;
  justify-content: space-between;

  .name-label {
    color: rgba(0, 0, 0, .87);
    font-size: 18px;
    font-weight: 500;
    padding: 16px 16px 16px 0;
  }

  .types-container {
    display: flex;
    flex-direction: column;

    .tag {
      color: #FFFFFF;
      background: blueviolet;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 600;
      height: 20px;
      margin: 5px;
      text-align: center;
      width: 75px;
    }
  }
}